@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-table-tbody .ant-table-row :nth-child(2) {
  display: flex;
  justify-content: center;
}
.ant-modal-content {
  display: flex;
  flex-direction: column;
  width: 536px !important;
  padding: 32px;

  box-shadow: 0px 1.66px 3.319px -1.66px rgba(16, 24, 40, 0.06),
    0px 3.319px 6.638px -1.66px rgba(16, 24, 40, 0.1);
}
.ant-modal-footer {
  display: flex;
  justify-content: space-between;
}
.ant-modal-footer .ant-btn-default {
  width: 212px;
  background-color: #fff6ef;
  color: #ff6f09;
}

.ant-modal-footer .ant-btn-primary {
  width: 212px;
  background-color: #ff6f09;
  color: #fff6ef;
}
.ant-space-item .ant-btn-default {
  border: none;
  box-shadow: none;
  padding: 0;
  height: 0;
}
:where(.css-dev-only-do-not-override-1wad9bj).ant-space-align-center {
  align-items: baseline;
}

.ant-table-cell .ant-space {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}
.ant-popconfirm-inner-content .ant-popconfirm-buttons {
  display: flex;
  justify-content: space-between;
}

.ant-popconfirm-inner-content .ant-popconfirm-buttons .ant-btn-default {
  background-color: #fff6ef;
  color: #ff6f09;
  width: 110px;
  border-color: none;
}
.ant-popconfirm-inner-content .ant-popconfirm-buttons .ant-btn-primary {
  width: 110px;
  background-color: #ff6f09;
  color: #fff6ef;
}
.ant-popconfirm-inner-content .ant-popconfirm-buttons .ant-btn-primary:hover {
  background-color: #ff6f09;
}
.ant-popconfirm-inner-content .ant-popconfirm-buttons .ant-btn-default:hover {
  background-color: #fff6ef;
  border-color: #fff6ef;
  color: #ff6f09;
}
.ant-table-wrapper .ant-table-column-sorter {
  display: none;
}
.ant-table-wrapper td.ant-table-column-sort  {
  background-color: #ffffff !important;
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-sort{
  background: #fafafa !important;
}
.ant-select-multiple .ant-select-selection-item[title="Yüksek"] {
  display: flex;
  justify-content: center;
  background-color: #fcdcdc;
  color: #bc1919;
  box-shadow: 0px 0.83px 1.66px 0px rgba(16, 24, 40, 0.05);
  width: 100px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.08px;
}
.ant-select-multiple .ant-select-selection-item[title="Orta"] {
  display: flex;
  justify-content: center;
  background-color: #fffadb;
  width: 100px;
  color: #998200;
  box-shadow: 0px 0.83px 1.66px 0px rgba(16, 24, 40, 0.05);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.08px;
}
.ant-select-multiple .ant-select-selection-item[title="Düşük"] {
  display: flex;
  justify-content: center;
  background-color: #dfeafe;
  width: 100px;
  color: #20509e;
  box-shadow: 0px 0.83px 1.66px 0px rgba(16, 24, 40, 0.05);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.08px;
}
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #fff;
  border-color: #fff;
  background-color: #EA580C;
}
.ant-modal-footer .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #FF6F09;
  border-color: none;
  background: var(--orange-50, #FFF6EF);
}
.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover{
  color: #fff;
  border-color: #fff;
  background-color: #EA580C;
}
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
  color: #FF6F09;
  border-color: #FFE8D7;
  background-color: #FFF6EF;
}
.trash-button{
  width: 15px;
  height: 15px;
  background-image: url("../public/Trash.svg");
  background-size: cover;
}
.trash-button:hover{
  background-image:url("../public/TrashBold.svg");
}
.edit-button{
  width: 15px;
  height: 15px;
  background-image: url("../public/Edit.svg");
  background-size: cover;
}
.edit-button:hover{
  background-image:url("../public/EditBold.svg");
}